body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 1px;
}

.operator-btn {
    width: 3rem;
}

.scrollable {
    max-height: 300px;
    overflow-y: auto;
}

#proof-output-container {
    display: none;
}

.card-header {
    background-color: #fff;
    font-weight: 500;
}

.btn-primary {
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-padding-x: 1.5rem;
}